
body {
	/*background-color: #F7F3E8;*/
	background-color: #f1f1f1;
	font-family: 'Roboto';
	margin: 0;
	margin-top: -16px;
}

#pie1 {
	margin-left: 5%;
	margin-top: 20px;
}

.legend {
  vertical-align: top;
  margin-left: -47%;
  z-index: 100;
  margin-top: 20px;
}

.pieSideDiv {
	height: 400px;
	width: 43%;
	background-color: #ffffff;
	border-radius: 10px;
	float: right;
	margin-right: 5%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

#locationName {
	width: 30%;
	color: #2B3E42;
	margin-top: -22%;
	margin-left: 32.5%;
	padding: 30px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	z-index: 100;
	position: absolute;
	text-align: center;
}

#map { 
	width: 100%; 
	height: 500px;
}

#header {
	height: 60px;
	width: 100%;
	background-color: #2B3E42;
}

#header p {
	color: #ffffff;
}

#selector {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: #ffffff;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
	border-radius: 10px;
}

#selector p {
	font-size: 20px;
	display: inline;
	color: #2B3E42;
}

#locSelect {
	border: 2px solid #2B3E42;
	background-color: #ffffff;
	font-size: 18px;
	color: #2B3E42;
}

#select {
	border: 2px solid #2B3E42;
	background-color: #ffffff;
	font-size: 18px;
	color: #2B3E42;
}

#graph{	
	width: 90%;
	margin: 0 auto;
}

.svg {
	margin: 0 auto;
	background-color: #ffffff;
	border-radius: 10px;
	margin-bottom: 30px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.svgDiv {
	height: 550px;
	width: 30%;
	float: right;
	background-color: #ffffff;
	/*margin-top: 30px;*/
	border-radius: 10px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.svgDiv h3 {
	text-align: center;
}

.svgDiv h3 p {
	font-size: 15px;
	font-weight: 300;
}

.xaxis path,
.xaxis line,
.yaxis path,
.yaxis line {
	stroke-width: 3px;
	fill: none;
	stroke: #2B3E42;
	shape-rendering: crispEdges;
}

.xaxis text,
.yaxis text {
	font-family: 'Roboto';
	font-size: 12px;
	font-weight: 500;
	fill: #2B3E42;
}

.center-text {
	text-align: center;
}


.chartTitle {
	font-size: 20px;
	font-weight: 700;
	fill: #2B3E42;
}

.graphlabel {
	font-family: 'Roboto';
}

rect {
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

rect:hover {
	fill: #DC4032;
}
