
body {
	/*background-color: #F7F3E8;*/
	background-color: rgb(227, 227, 220);
	font-family: 'Avenir';
	margin: 0;
	margin-top: -16px;
}

#selectedBoroughs {
	background-color: #ffffff;
	width: 90%;
	margin: 0 auto;
	padding-top: 100px;
	border-radius: 10px;
	display: none;
	margin-top: 30px;
}

#bName {
	position: relative;
    margin-top: -65px;
    margin-bottom: 30px;
    font-size: 32px;
   text-align: center;
}

.pietitle {
	font-weight: 500;
	fill: #2B3E42;
	font-size: 22px;
}

.hidden_results {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	color: #2B3E42;
	display: none;
	position: absolute;
	z-index: 100;
}

#pageTitle {
	float: left;
	padding-left: 20px;
	font-size: 24px;
	width: 40%;
	margin-bottom: 0px;
	padding-top: 5px;
	color: rgb(239, 240, 234);
}

.legendText {
	z-index: 100;
}

.legend {
	vertical-align: top;
	margin-left: 6%;
	margin-top: -380px;
}

#pie1 {
	/*margin-left: -50.20%;*/
	display: inline-block;
	width: 45%;
	position: relative;

}

nav {
	float: right;
	padding-right: 20px;
	padding-top: 15px;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline;
	font-size: 20px;
	color: rgb(239, 240, 234);
}

#hchart {
	border-radius: 10px;
	display: inline-block;
	width: 45%;
	/*right: -120%;*/
	position: relative;
	margin-left: 3.5%;
	top: -8px;
}

.back{
	width: 100%;
	text-align: center;
}

.up {
	font-size: 15px;
	padding-bottom: 10px;
}

#gchart {
	margin-left: 1%;
	top: -15px;
	display: inline-block;
	width: 45%;
	position: relative;
}

#pie2 {
	border-radius: 10px;
	display: inline-block;
	width: 45%;
	margin-left: 3%;
	/*right: -120%;*/
	position: relative;
}

.cityTitle {
	width: 100%;
	text-align: center;
	padding-top: 1px;
}

.cityTitleP {
	font-size: 30px;
	color: #2B3E42;
}

#communityGardens {
	background-color: #ffffff;
	border-radius: 10px;
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
	display: none;
}

#locationName {
	width: 30%;
	color: #2B3E42;
	margin-top: -33%;
	margin-left: 33%;
	padding: 30px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	z-index: 100;
	position: absolute;
	text-align: center;
}

#map { 
	width: 100%; 
	height: 769px;
}

#header {
	height: 75px;
	width: 100%;
	background-color: #2B3E42;
}

#header p {
	color: #ffffff;
}

.filter_button {
	padding: 15px 17px 15px 17px;
	background-color: #ffffff;
	border-radius: 10px;
	position: absolute;
	z-index: 10;
	margin: 10px;
	max-width: 46px;
}

#garden {
	left: 10px;
}

#health {
	left: 70px;
}

#healthCenters {
	width: 90%;
	margin: 0 auto;
	background-color: #ffffff;
	border-radius: 10px;
	margin-top: 30px;
	display: none;
}

#info {
	background-color: rgba(0, 0, 0, 0.8);
}

#mapInfo {
	width: 30%;
	min-width: 300px;
	max-width: 500px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	border: 1px solid #024E83;
}

#selector {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: #ffffff;
	/*box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);*/
	padding: 20px;
	text-align: center;
	border-radius: 10px;
}

#selector p {
	font-size: 20px;
	display: inline;
	color: #2B3E42;
}

#locSelect {
	border: 1px solid #2B3E42;
	background-color: #ffffff;
	font-size: 18px;
	color: #2B3E42;
}

#select {
	border: 1px solid #2B3E42;
	background-color: #ffffff;
	/*border-radius: 5px;*/
	font-size: 17px;
	color: #2B3E42;
}

#graph {	
	width: 55%;
	display: inline-block;
	z-index: 100;
}

#tables {
	width: 25%;
	display: inline-block;
	margin-left: 10%;
}

.donut1 {
	margin: 0 auto;
	/*background-color: #f2f2f2;*/
	border-radius: 0px 10px 10px 0px;
	margin-bottom: 120px;
}

.svg {
	margin: 0 auto;
	background-color: #ffffff;
	border-radius: 10px;
	margin-bottom: 120px;
	/*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);*/
}

.citySvg {
	margin: 0 auto;
	background-color: #ffffff;
	border-radius: 10px;
	margin-bottom: 20px;
}

.xaxis path,
.xaxis line,
.yaxis path,
.yaxis line {
	stroke-width: 3px;
	fill: none;
	stroke: #2B3E42;
	shape-rendering: crispEdges;
}

.xaxis text,
.yaxis text {
	font-family: 'Avenir';
	font-size: 12px;
	font-weight: 500;
	fill: #2B3E42;
}

.center-text {
	text-align: center;
}


.chartTitle {
	font-size: 22px;
	font-weight: 500;
	fill: #2B3E42;
}

rect {
	transition: all 0.3s;
}

rect:hover {
	fill: #FADF3C;
}

#footer {
	height: 65px;
	width: 100%;
}

